h1{
    text-align:center;
}
.pen{
    height:25px;
    width:200px;
    margin:10px auto;
}
.yellow{
    background: linear-gradient(rgb(127,127,63),rgb(245,245,62),rgb(162,162,61));
    box-shadow:0 0 20px 0 rgba(83,83,14,0.8);
}
.magenta{
    background: linear-gradient(#df68df, #ffbfff, #ef6cef);
    box-shadow:0 0 20px 0 #7b207ecc;
}
.cyan{
    background:linear-gradient(hsl(176, 76%, 16%), hsl(180,90%,60%), hsl(176,76%,16%));
    box-shadow:0 0 20px 0 hsl(173,59%,31%,0.8);
}
.container{
    background-color:rgb(255,255,255);
    padding:10px 0;
}
.sleeve{
    width:110px;
    height:25px;
    background-color:rgba(255,255,255,0.5);
    border-left:10px double rgba(0,0,0,0.75);
}
.cap{
    width:60px;
    height:25px;
}
.sleeve, .cap{
    display:inline-block;
}